@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?n9sfnn');
  src:  url('fonts/icomoon.eot?n9sfnn#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?n9sfnn') format('truetype'),
    url('fonts/icomoon.woff?n9sfnn') format('woff'),
    url('fonts/icomoon.svg?n9sfnn#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-user-md:before {
  content: "\f0f0";
}
.icon-hospital:before {
  content: "\f0f8";
}
.icon-user-plus:before {
  content: "\f234";
}
.icon-id-badge:before {
  content: "\f2c1";
}
.icon-briefcase-medical:before {
  content: "\f469";
}
.icon-id-card-alt:before {
  content: "\f47f";
}
.icon-procedures:before {
  content: "\f487";
}
.icon-kaaba:before {
  content: "\f66b";
}
.icon-database:before {
  content: "\e964";
}
