$icomoon-font-family: "icomoon" !default;
$icomoon-font-path: "fonts" !default;

$icon-controller-fast-backwardmustache: "\e901";
$icon-homemustache: "\e900";
$icon-heartmustache: "\e9da";
$icon-tongue2mustache: "\e9e4";
$icon-wink2mustache: "\e9e8";
$icon-cool2mustache: "\e9ec";
$icon-hipster2mustache: "\e9fa";

